@model IDictionary<string, List<Gradeflex.Models.Student.CourseModel>>

@{
    ViewData["Title"] = "AllGrades";
}

<div class="title-container text-center">
    <h1>All My Courses Grades</h1>
    @{
        List<double> allCoursesGrades = new();
        foreach (var semesterCourse in Model)
        {
            semesterCourse.Value.ForEach(course =>
            {
                if (course.FinalGrade >= 5)
                {
                    allCoursesGrades.Add(course.FinalGrade);
                }
            });
        }

        double totalGrade = allCoursesGrades.DefaultIfEmpty(0).Average();
    }
    <h2>Total Average: @totalGrade</h2>
</div>

@foreach (var semesterCourse in Model)
{
    <div class="centered-container">
        <h2 class="text-center mb-2">Semester @semesterCourse.Key</h2>
        @foreach (var course in semesterCourse.Value)
        {
            <a asp-controller="Student" asp-action="SingleGrade" asp-route-courseName="@course.Title" class="text-decoration-none">
                <div class="grade-container">
                    <h3 class="text-center grade-title">@course.Title</h3>
                    <div class="grade-value-container">
                        <p class="grade-value"><span class="grade-text">Grade: </span>@course.FinalGrade</p>
                        @if (course.FinalGrade >= 5)
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" height="60" width="60" viewBox="0 0 128 128">
                                <g>
                                    <path id="path1" transform="rotate(0,64,64) translate(28,41.7868767038731) scale(2.24999973177913,2.24999973177913)  " fill="#5CD269" d="M28.805753,0L31.974733,0C32.167724,0.27001924 31.208732,0.60900805 30.678737,0.9630113 22.839801,6.2050091 16.330854,13.03398 10.513902,19.745 6.9349381,16.519997 3.7629682,13.021987 0,9.9210077 0.63698797,9.253986 1.4519834,8.7079969 2.4479772,8.2830092 4.1869603,9.2220036 5.6669437,10.081988 7.7689305,11.090989 8.0639258,11.23201 10.055913,12.143997 10.22591,12.136001 10.603912,12.115982 11.617896,10.918992 12.2419,10.401994 16.76185,6.6610023 23.254806,2.4390226 28.805753,0z" />
                                </g>
                            </svg>
                        }
                        else
                        {

                            <svg xmlns="http://www.w3.org/2000/svg" height="60" width="60" viewBox="0 0 128 128">
                                <g>
                                    <path id="path1" transform="rotate(0,64,64) translate(35.0045304897148,35) scale(1.81250010803343,1.81250010803343)  " fill="#E72525" d="M29.590818,0C30.206963,0 30.823227,0.23449993 31.292229,0.70349979 32.229256,1.6405001 32.229256,3.1605005 31.292229,4.1004992L19.398003,15.998498 31.292229,27.892495C32.229256,28.829499 32.229256,30.349496 31.292229,31.294496 30.354227,32.2315 28.827164,32.2315 27.890139,31.294496L15.997988,19.399499 4.1047992,31.296502C3.1677734,32.234498 1.6397347,32.234498 0.70276969,31.296502 -0.23425656,30.352502 -0.23425656,28.832498 0.70276969,27.894502L12.596934,15.998498 0.70276969,4.1024981C-0.23425656,3.1654978 -0.23425656,1.6454973 0.70276969,0.7054987 1.6397347,-0.23150158 3.1677734,-0.23150158 4.1047992,0.7054987L15.99695,12.597497 27.890139,0.70349979C28.35865,0.23449993,28.974674,0,29.590818,0z" />
                                </g>
                            </svg>
                        }
                    </div>
                </div>
            </a>
        }
    </div>
}